h1::before{
    font-weight: bold;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 500px;
    grid-gap: 10px;
}

p{
    margin: 0;
}

