.flag{
    background-image: url("https://github.com/Code2Hire/weeklychallenges-r2h-2019/blob/master/cssChallenges/easy.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: 313px 341px;
    height: 400px;
    width: 355px;
    position: absolute;
    top: 10px;
    

}
.red{
    background-color: red;
    height: 45px;
    width: 100px;
}

.none{
    display: none;
}

.white{
    background-color: white;
    height: 45px;
    width: 45px;
}
